.logo{
    max-height: 80px;
    padding: 5px 0px;
    text-align: left;
    margin-right: auto;
}
.top-offers{
    background: rgba(209, 234, 255, 0.55);
    padding: 20px;
}

.blue-bg{
    background: #0089ff;
    padding: 20px;
}
.majenta-bg{
    background: #E91E63;
    padding: 20px;
}
.main-content{
    
}