
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,800&display=swap');


.logo{
    max-height: 80px;
    padding: 5px 0px;
    text-align: left;
    margin-right: auto;
}
.top-offers{
    background: rgba(209, 234, 255, 0.55);
    padding: 20px;
}
.navbar{
    margin: 0px -15px;
    padding: 0px 15px !important;
}
.nav-item{
    padding: 10px;
    border-right:1px solid #70b1f7;
    font-family: 'Roboto Slab', serif;
}
.bg-blue{
    background: rgb(8,119,148);
background: linear-gradient(180deg, rgba(8,119,148,1) 0%, rgba(0,212,255,1) 8%, rgba(0,207,249,1) 92%, rgba(8,119,148,1) 100%);
}
.nav-link{
    color: #fff !important;
}
.dropdown-item {
    background-color: white !important;
}
.blue-bg{
    background: #1485ff;
    padding: 20px;
}
.majenta-bg{
    background: #1485ff;
    padding: 20px;
}
.main-content{
    padding: 50px 10px;
}
body{
    font-family: 'Roboto Slab', serif !important;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}
  @keyframes check {0% {height: 0;width: 0;}
    25% {height: 0;width: 10px;}
    50% {height: 20px;width: 10px;}
  }
  .checkbox{background-color:#fff;display:flex;height:28px;margin:0 .25em;width:100%; cursor: pointer;}
  .checkbox:hover{
  color: #2196F3;
  }
  .checkbox span{    display: block;
    height: 28px;
    position: relative;
    width: 28px;
    float: right;
    padding: 0;border-radius:4px;
    border:1px solid #ccc;
    text-align: right;
    margin-left: auto;}
  .checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:20px;left:3px;position:absolute;top:15px;width:10px}
  .checkbox span:hover:after{border-color:#999}
  .checkbox input{display:none}
  .checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}
.checkbox input:checked + .default:after{border-color:#444}
.checkbox input:checked + .primary:after{border-color:#2196F3}
.checkbox input:checked + .success:after{border-color:#8bc34a}
.checkbox input:checked + .info:after{border-color:#3de0f5}
.checkbox input:checked + .warning:after{border-color:#FFC107}
.checkbox input:checked + .danger:after{border-color:#f44336}

.shape{	
	border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	transform:rotate(360deg);
}
.offer{
	background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden; cursor: pointer;
}
.offer-radius{
	border-radius:7px;
}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
	border-color: transparent #d9534f transparent transparent;
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-success {	border-color: #5cb85c; }
.offer-success .shape{
	border-color: transparent #5cb85c transparent transparent;
	border-color: rgba(255,255,255,0) #5cb85c rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-default {	border-color: #999999; }
.offer-default .shape{
	border-color: transparent #999999 transparent transparent;
	border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-primary {	border-color: #428bca; }
.offer-primary .shape{
	border-color: transparent #428bca transparent transparent;
	border-color: rgba(255,255,255,0) #428bca rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-info {	border-color: #5bc0de; }
.offer-info .shape{a
	border-color: transparent #5bc0de transparent transparent;
	border-color: rgba(255,255,255,0) #5bc0de rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-warning {	border-color: #f0ad4e; }
.offer-warning .shape{
	border-color: transparent #f0ad4e transparent transparent;
	border-color: rgba(255,255,255,0) #f0ad4e rgba(255,255,255,0) rgba(255,255,255,0);
}

.shape-text{
	color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}	
.offer-content{
	padding:0 20px 10px;
}

.offer-per{
	font-size: 60px;
	margin-top: -10px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.cashback{
	font-size: 22px;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 19px;
}
.flex{
	display: flex;
}
.min-content{
	width: min-content;
}
.mtop-5{
    margin-top: 5px;
}
.ml-auto{
	margin-left: auto;
}

.offer-title{
    font-size: 20px;
    font-weight: bold;
}
.border-r1{
    border-right: 1px solid #ababab;
}
.center-align{
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
}

.display-block{
    display: block !important;
}

.vertical-align{
    margin-top: auto !important;
    margin-bottom: auto !important;
    vertical-align: middle !important;
}

.font-12 {
	font-size: 12px;
}

.font-14 {
	font-size: 14px;
}

.font-16 {
	font-size: 16px !important;
}

.font-18 {
	font-size: 18px !important;
}

.font-20 {
	font-size: 20px !important;
}

.font-22 {
	font-size: 22px !important;
}

.font-24 {
	font-size: 24px !important;
}

.font-28 {
	font-size: 28px !important;
}

.font-32 {
	font-size: 32px !important;
}

.font-34 {
	font-size: 34px !important;
}

.font-36 {
	font-size: 36px !important;
}

.font-40 {
	font-size: 40px !important;
}

.font-50{
    font-size: 50px !important;
}

.font-60{
    font-size: 60px !important;
}
.bold {
	font-weight: bold;
}

.code-css{
    border: 1px dashed;
    cursor: pointer;
    background: white;
    padding: 10px 5px;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.grey{
    color: grey;
}

.offer-codebox{
    background: rgb(236,236,236);
    background: linear-gradient(180deg, rgba(236,236,236,1) 0%, rgba(241,241,241,1) 49%, rgba(219,219,219,1) 100%);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.offer-codebox1{
    background: rgb(236,236,236);
    border-bottom:1px dashed #949393;
    padding: 5px;
}

.arrow-btn{
    color: blue;
    cursor: pointer;
}

.hide-table-padding td{
    border-top: 0px !important;
}

.slider-labels {
  margin-top: 10px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #345DBB;
}

/* Styling;
 */
.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
  background: #345DBB;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

.noUi-target.noUi-connect {
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345DBB;
  border: 8px solid rgba(53,93,187,0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}

.no-uline{
    text-decoration: none !important;
}

.black{
    color: #000 !important;
}
#toast{
    visibility: visible;
    min-width: 250px;
    background-color: rgba(51, 51, 51, 0.25);
    color: #000;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    font-size: 17px;
    position: fixed;
    display: table;
}
.toast-css{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}
#toast.show {
  visibility: visible;
/*  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
  
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}